.header {
  font-family: fantasy;
  font-size: 25px;
  color: rgb(255, 0, 119); 
  text-align: center;
  background-color: blanchedalmond;
  padding-bottom: 30px;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  li {
    float: right;
    display: block;
    color: rgb(131, 7, 104);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li:hover {
    color: black;
  }